<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
	
	<bean id="dataSource"
		class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName"><value>com.mysql.jdbc.Driver</value></property>
		<property name="url" value="jdbc:mysql://localhost:3306/test?useUnicode=true&amp;characterEncoding=utf8"></property>
		<property name="username" value="root"></property>
		<property name="password" value=""></property>
	</bean>
	
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
        		<value>com.SSSSWeb.model.domain.Users</value>
        		<value>com.SSSSWeb.model.domain.Supplier</value>
        		<value>com.SSSSWeb.model.domain.GOODS_INF</value>
        		<value>com.SSSSWeb.model.domain.CAR_IMG_INF</value>
        		<value>com.SSSSWeb.model.domain.STOCK_INF</value>
        		<value>com.SSSSWeb.model.domain.GoodsDetial</value>
        		<value>com.SSSSWeb.model.domain.Customer</value>
        		<value>com.SSSSWeb.model.domain.Orders</value>
        		<value>com.SSSSWeb.model.domain.Orders_List</value>
        		<value>com.SSSSWeb.model.domain.Orders_Count</value>
        		<value>com.SSSSWeb.model.domain.Orders_Info</value>
        		<value>com.SSSSWeb.model.domain.Sale</value>
        		<value>com.SSSSWeb.model.domain.News</value>
    		</list>
  		</property>
  		
  		<property name="hibernateProperties">
    		<value>
      			hibernate.dialect=org.hibernate.dialect.MySQL5Dialect
      			hibernate.show_sql=true
    		</value>
  		</property>
	</bean>
	
	<bean id="usersDAO" class="com.SSSSWeb.model.business.dao.UsersDAO">
		<property name="sf" ref="sessionFactory"></property>
	</bean>
	<bean id="usersService" class="com.SSSSWeb.model.business.service.UsersService">
		<property name="usersDAO" ref="usersDAO"></property>
	</bean>
	<bean id="SignInAction" class="com.SSSSWeb.control.SignInAction">
		<property name="service" ref="usersService"></property>
	</bean>
	<bean id="SignOutAction" class="com.SSSSWeb.control.SignOutAction">
		<property name="service" ref="usersService"></property>
	</bean>
	<bean id="SelectAllUserAction" class="com.SSSSWeb.control.SelectAllUserAction">
		<property name="service" ref="usersService"></property>
	</bean>
	<bean id="SelectUserAction" class="com.SSSSWeb.control.SelectUserAction">
		<property name="service" ref="usersService"></property>
	</bean>
	<bean id="ChangeUserAction" class="com.SSSSWeb.control.ChangeUserAction">
		<property name="service" ref="usersService"></property>
	</bean>
	<bean id="ChangePswAction" class="com.SSSSWeb.control.ChangePswAction">
		<property name="service" ref="usersService"></property>
	</bean>
	<bean id="DeleteUserAction" class="com.SSSSWeb.control.DeleteUserAction">
		<property name="service" ref="usersService"></property>
	</bean>
	<bean id="AddUserAction" class="com.SSSSWeb.control.AddUserAction">
		<property name="service" ref="usersService"></property>
	</bean>
	
	
	
	<!-- Supplier -->
	<bean id="supplierDAO" class="com.SSSSWeb.model.business.dao.SupplierDAO">
		<property name="sf" ref="sessionFactory"></property>
	</bean>
	<bean id="supplierService" class="com.SSSSWeb.model.business.service.SupplierService">
		<property name="supplierDAO" ref="supplierDAO"></property>
	</bean>
	
	<bean id="ssA" class="com.SSSSWeb.control.SelectSupplierAction">
		<property name="sp" ref="supplierService"></property>
	</bean>
	 
	<bean id="siA" class="com.SSSSWeb.control.InsertSupplierAction">
		<property name="sp" ref="supplierService"></property>
	</bean>
	
	<bean id="seA" class="com.SSSSWeb.control.EditSupplierAction">
		<property name="sp" ref="supplierService"></property>
	</bean>
	
	<bean id="sdA" class="com.SSSSWeb.control.DeleteSupplierAction">
		<property name="sp" ref="supplierService"></property>
	</bean>
	
	
	<!-- Goods -->
	<bean id="goodsDAO" class="com.SSSSWeb.model.business.dao.GoodsDAO">
		<property name="sf" ref="sessionFactory"></property>
	</bean>
	<bean id="goodsService" class="com.SSSSWeb.model.business.service.GoodsService">
		<property name="goodsDAO" ref="goodsDAO"></property>
	</bean>
	<bean id="sGoodsA" class="com.SSSSWeb.control.SelectGoodsAction">
		<property name="gs" ref="goodsService"></property>
	</bean>
	<bean id="sDetialGoodsA" class="com.SSSSWeb.control.SelectDetialCoodsAction">
		<property name="gs" ref="goodsService"></property>
	</bean>
	
	<!-- Orders -->
	<bean id="ordersDAO" class="com.SSSSWeb.model.business.dao.OrdersDAO">
		<property name="sf" ref="sessionFactory"></property>
	</bean>
	<bean id="ordersService" class="com.SSSSWeb.model.business.service.OrdersService">
		<property name="ordersDAO" ref="ordersDAO"></property>
	</bean>
	<bean id="ishopCart" class="com.SSSSWeb.control.InsertShopCartAction">
		<property name="os" ref="ordersService"></property>
	</bean>
	<bean id="sshopCart" class="com.SSSSWeb.control.SelectShopCartAction">
		<property name="os" ref="ordersService"></property>
	</bean>
	<bean id="sOrdersA" class="com.SSSSWeb.control.SelectOrdersAction">
		<property name="os" ref="ordersService"></property>
	</bean>
	<bean id="iOrdersA" class="com.SSSSWeb.control.InsertOrdersAction">
		<property name="os" ref="ordersService"></property>
	</bean>
	
	<bean id="dshopCart" class="com.SSSSWeb.control.DeleteShopCartAction">
		<property name="os" ref="ordersService"></property>
	</bean>
	<bean id="rOrdersA" class="com.SSSSWeb.control.RefuseOrdersAction">
		<property name="os" ref="ordersService"></property>
	</bean>
	<bean id="suOrdersA" class="com.SSSSWeb.control.SuccessOrdersAction">
		<property name="os" ref="ordersService"></property>
	</bean>
	
	
	
	
	
	<!-- Customer -->
	<bean id="customerDAO" class="com.SSSSWeb.model.business.dao.CustomerDAO">
		<property name="sf" ref="sessionFactory"></property>
	</bean>
	<bean id="customerService" class="com.SSSSWeb.model.business.service.CustomerService">
		<property name="customerDAO" ref="customerDAO"></property>
	</bean>
	<bean id="iCoustomerA" class="com.SSSSWeb.control.InsertCustomerAction">
		<property name="cs" ref="customerService"></property>
	</bean>
	<bean id="login" class="com.SSSSWeb.control.LoginAction">
		<property name="cs" ref="customerService"></property>
	</bean>
	<bean id="logout" class="com.SSSSWeb.control.LogoutAction">
		<property name="cs" ref="customerService"></property>
	</bean>
	<bean id="eCoustomerA" class="com.SSSSWeb.control.EditCustomerAction">
		<property name="cs" ref="customerService"></property>
	</bean>
	<bean id="cPswA" class="com.SSSSWeb.control.CustomerChangePswAction">
		<property name="cs" ref="customerService"></property>
	</bean>
	<bean id="sCoustomerA" class="com.SSSSWeb.control.CustomerChangePswAction">
		<property name="cs" ref="customerService"></property>
	</bean>
	<bean id="sACoustomerA" class="com.SSSSWeb.control.SelectCustomerAction">
		<property name="cs" ref="customerService"></property>
	</bean>
	
	
	<!-- News -->
	<bean id="newsDAO" class="com.SSSSWeb.model.business.dao.NewsDAO">
		<property name="sf" ref="sessionFactory"></property>
	</bean>
	<bean id="newsService" class="com.SSSSWeb.model.business.service.NewsService">
		<property name="newsDAO" ref="newsDAO"></property>
	</bean>
	<bean id="sNewsA" class="com.SSSSWeb.control.SelectNewsAction">
		<property name="ns" ref="newsService"></property>
	</bean>
	
	
	
	<!-- 配置事务管理器 -->
	<bean id="txManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!--配置应用注解 
	<tx:annotation-driven transaction-manager="txManager" /> -->
	<tx:advice id="txAdvice" transaction-manager="txManager">
        <tx:attributes>
            <tx:method name="save*" propagation="REQUIRED" />
            <tx:method name="add*" propagation="REQUIRED" />
            <tx:method name="create*" propagation="REQUIRED" />
            <tx:method name="insert*" propagation="REQUIRED" />
            <tx:method name="update*" propagation="REQUIRED" />
            <tx:method name="merge*" propagation="REQUIRED" />
            <tx:method name="del*" propagation="REQUIRED" />
            <tx:method name="remove*" propagation="REQUIRED" />
            <tx:method name="put*" propagation="REQUIRED" />
            <tx:method name="use*" propagation="REQUIRED"/>
            <!--hibernate4必须配置为开启事务 否则 getCurrentSession()获取不到-->
            <tx:method name="get*" propagation="REQUIRED" read-only="true" />
            <tx:method name="count*" propagation="REQUIRED" read-only="true" />
            <tx:method name="find*" propagation="REQUIRED" read-only="true" />
            <tx:method name="list*" propagation="REQUIRED" read-only="true" />
            <tx:method name="*" read-only="true" />
        </tx:attributes>
    </tx:advice>
</beans>